:root {
  --color-mode: "light";
  --color-dark: black;
  --color-light: white;
  --background: white;
  --text-color: black;
}

.searching-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.hidden {
  visibility: hidden;
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.cat-card {
  display: flex;
  flex-direction: column;

  /* TODO: 카드 정렬하기 */
  margin-left: calc((100% - (20% * 4)) / 4);
  cursor: pointer;
  width: 250px;
  height: 350px;
  overflow: hidden;
}

.recent-keywords {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-image {
  height: 70%;
  transform: scale(1);
}

.cat-card:hover .card-image {
  transition: 0.5s;
  transform: scale(1.1);
}

.keyword {
  background-color: rgb(255, 127, 0);
  color: white;
  border-radius: 11px;

  padding: 5px;
  margin-right: 8px;
}

.random-btn {
  cursor: pointer;
  font-size: 35px;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}

.modal-contents {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 70%;
  width: 30%;
  padding: 10px;
  background-color: var(--background);
  color: var(--text-color);

  /* TODO: box-shadow */
}

.modal-image {
  height: 60%;
}
